// npm install -g node-sass 
// node-sass -w -o ./css/ main.scss

$width :320px;
$height : 50px;
$primarycolor : #dd36dd;
$mattecolor : #f2ece7;
$topmargin :  5px;
$leftmargin : 30px;
$slidewidth: 75px;
$logoBoxXoffset : -89%;
$logoBoxYoffset : -30%;

%overlay {position: absolute; top: 0; right:  0; bottom:  0; left:  0;}
.eyemedbanner { width: $width; height: $height; position: relative; overflow:  hidden; background-color: $mattecolor; }
.eyemedbanner_link img {border: 0;}
.eyemedbanner_colorbox { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; background-color: $primarycolor; padding-top: $topmargin; overflow: hidden;   transform: translate($logoBoxXoffset, $logoBoxYoffset); opacity: .999; }
.eyemedbanner_colorbox_copy { opacity: 0;   transform:  translateY(-50px); }
.eyemedbanner_copyblock { padding-left: 50px; }
.eyemedbanner_copy { padding-left: $leftmargin; position: relative; z-index: 0;}
.eyemedbanner_copy_text{  position: absolute; top:0; }
.eyemedbanner_copy_text-1 {left: 38px; top: $topmargin;}
.eyemedbanner_copy_text-2 {opacity: 0; top: $topmargin; left: 43px;}
.eyemedbanner_inner { @extend %overlay; z-index: 1; }
.eyemedbanner_layeredbg { @extend %overlay; z-index: 0; }
.eyemedbanner_yesno { @extend %overlay; }
.eyemedbanner_yesno-no,
.eyemedbanner_yesno-yes { opacity: 0; }
.eyemedbanner_slider { width: 100%; position: relative; }
.eyemedbanner_slider_slide { position: absolute; top: -76px; right:120px; transform: translateY( -100px );}
.eyemedbanner_checkmark { position: absolute; top:  -7px; right:  46px;transform: translateY( -100% ); }
.eyemedbanner_logo { width: 38px; height: 38px; position: absolute; left: -1px; top: -1px; z-index: 5;}
.eyemedbanner_logo svg { display: block; margin: 0 auto; padding-top: 10px; width: 70%; height: 15px;}
.eyemedbanner_link { position: relative; z-index: 2; width: $width; height: $height;}
/* KEYFRAMES */

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes slideDownTopRight {
	from {  transform:  translate($logoBoxXoffset, $logoBoxYoffset); }
	to {  transform:  translate( 0, 0 ); }
}
@keyframes slideUpTopRight {
	from {  transform:  translate( 0, 0 ); }
	to {  transform:  translate($logoBoxXoffset, $logoBoxYoffset); }
}
@keyframes slideDownTopRight {
	from {  transform:  translate($logoBoxXoffset, $logoBoxYoffset); }
	to {  transform:  translate( 0, 0 ); }
}
@keyframes slideDownTop{
	from {  transform:  translateY(-50px); opacity: 0; }
	to {  transform:  translateY(0); opacity: 1; }
}
@keyframes slideUpTop{
	form {  transform:  translateY(0); opacity: 1; }
	to {  transform:  translateY(-50px); opacity: 0; }
}
@keyframes slideTopToBottom{
	0% {  transform:  translateY(-100px); }
	40% {  transform:  translateY( 0px ); }
	60% {  transform:  translateY( 0px); }
	100% {  transform:  translateY(100px); }
}
@keyframes slideInCheck{
	from {  transform:  translateY(-100%); }
	to {  transform:  translateY(0); }
}

/* ANIMATIONS */
.eyemedbanner_yesno-no { animation: fadeIn .25s 1.25s ease-out forwards; }
.eyemedbanner_yesno-yes { animation: fadeIn .25s  2.5s linear forwards, fadeOut 0.1s 5s ease-out forwards; }
.eyemedbanner_colorbox { animation: slideDownTopRight 0.5s  4s ease-out forwards, slideUpTopRight 0.5s 13s ease-out forwards; }
.eyemedbanner_colorbox_copy-line2 {  animation: slideDownTop 0.5s  5s ease-out forwards; }
.eyemedbanner_colorbox_copy-line1 {  animation: slideDownTop 0.5s  5s ease-out forwards; }
.eyemedbanner_copy_text-1 { animation: fadeOut 0.1s 5s ease-out forwards; }
.eyemedbanner_copy_text-2 { animation: fadeIn 0.1s 5s ease-out forwards; }
.eyemedbanner_copyblock { animation: slideUpTop 0.25s  12s ease-out forwards; }
.eyemedbanner_checkmark { animation: slideInCheck 1.5s  13.5s ease-out forwards; }







