.eyemedbanner_inner, .eyemedbanner_layeredbg, .eyemedbanner_yesno {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.eyemedbanner {
  width: 729px;
  height: 90px;
  position: relative;
  overflow: hidden;
  background-color: #f2ece7; }

.eyemedbanner_link img {
  border: 0; }

.eyemedbanner_colorbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #9DCD50;
  padding-top: 10px;
  overflow: hidden;
  -webkit-transform: translate(-87.65%, 0%);
      -ms-transform: translate(-87.65%, 0%);
          transform: translate(-87.65%, 0%);
  opacity: .999; }

.eyemedbanner_colorbox_copy {
  opacity: 0;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px); }

.eyemedbanner_copyblock {
  padding-left: 110px; }

.eyemedbanner_copy {
  padding-left: 110px;
  position: relative;
  z-index: 0; }

.eyemedbanner_copy_text {
  position: absolute;
  top: 0; }

.eyemedbanner_copy_text-1 {
  left: 125px; }

.eyemedbanner_copy_text-2 {
  opacity: 0;
  top: 15px; }

.eyemedbanner_inner {
  z-index: 1; }

.eyemedbanner_layeredbg {
  z-index: 0; }

.eyemedbanner_yesno-no,
.eyemedbanner_yesno-yes {
  opacity: 0; }

.eyemedbanner_slider {
  width: 100%;
  position: relative; }

.eyemedbanner_slider_slide {
  position: absolute;
  top: -76px;
  right: 120px;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px); }

.eyemedbanner_checkmark {
  position: absolute;
  top: -15px;
  right: 175px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.eyemedbanner_logo {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5; }

.eyemedbanner_logo svg {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  width: 70%;
  height: 40px; }

.eyemedbanner_bottomcopy {
  position: absolute;
  top: 30%;
  right: 20px;
  z-index: 10; }

.eyemedbanner_bottomcopy img {
  display: block;
  margin: 0 auto 5px; }

.eyemedbanner_link {
  position: relative;
  z-index: 2;
  width: 729px;
  height: 90px; }

/* KEYFRAMES */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes slideDownTopRight {
  from {
    -webkit-transform: translate(-87.65%, 0%);
            transform: translate(-87.65%, 0%); }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes slideDownTopRight {
  from {
    -webkit-transform: translate(-87.65%, 0%);
            transform: translate(-87.65%, 0%); }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes slideUpTopRight {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(-87.65%, 0%);
            transform: translate(-87.65%, 0%); } }

@keyframes slideUpTopRight {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(-87.65%, 0%);
            transform: translate(-87.65%, 0%); } }

@keyframes slideDownTopRight {
  from {
    -webkit-transform: translate(-87.65%, 0%);
            transform: translate(-87.65%, 0%); }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes slideDownTop {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes slideDownTop {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes slideUpTop {
  form {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; } }

@keyframes slideUpTop {
  form {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; } }

@-webkit-keyframes slideTopToBottom {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); } }

@keyframes slideTopToBottom {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); } }

@-webkit-keyframes slideInCheck {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideInCheck {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

/* ANIMATIONS */
.eyemedbanner_yesno-no {
  -webkit-animation: fadeIn 0.25s 1.25s ease-out forwards;
          animation: fadeIn 0.25s 1.25s ease-out forwards; }

.eyemedbanner_yesno-yes {
  -webkit-animation: fadeIn 0.25s  2.5s linear forwards, fadeOut 0.1s 5s ease-out forwards;
          animation: fadeIn 0.25s  2.5s linear forwards, fadeOut 0.1s 5s ease-out forwards; }

.eyemedbanner_colorbox {
  -webkit-animation: slideDownTopRight 0.5s  4s ease-out forwards, slideUpTopRight 0.5s 13s ease-out forwards;
          animation: slideDownTopRight 0.5s  4s ease-out forwards, slideUpTopRight 0.5s 13s ease-out forwards; }

.eyemedbanner_colorbox_copy-line2 {
  -webkit-animation: slideDownTop 0.5s  5s ease-out forwards;
          animation: slideDownTop 0.5s  5s ease-out forwards; }

.eyemedbanner_colorbox_copy-line1 {
  -webkit-animation: slideDownTop 0.5s  5s ease-out forwards;
          animation: slideDownTop 0.5s  5s ease-out forwards; }

.eyemedbanner_copy_text-1 {
  -webkit-animation: fadeOut 0.1s 5s ease-out forwards;
          animation: fadeOut 0.1s 5s ease-out forwards; }

.eyemedbanner_copy_text-2 {
  -webkit-animation: fadeIn 0.1s 5s ease-out forwards;
          animation: fadeIn 0.1s 5s ease-out forwards; }

.eyemedbanner_slider_slide-1 {
  -webkit-animation: slideTopToBottom 2.25s  5.5s ease-in-out forwards;
          animation: slideTopToBottom 2.25s  5.5s ease-in-out forwards; }

.eyemedbanner_slider_slide-2 {
  -webkit-animation: slideTopToBottom 2.25s  7s ease-in-out forwards;
          animation: slideTopToBottom 2.25s  7s ease-in-out forwards; }

.eyemedbanner_slider_slide-3 {
  -webkit-animation: slideTopToBottom 2.25s  8.5s ease-in-out forwards;
          animation: slideTopToBottom 2.25s  8.5s ease-in-out forwards; }

.eyemedbanner_slider_slide-4 {
  -webkit-animation: slideTopToBottom 2.25s  10s ease-in-out forwards;
          animation: slideTopToBottom 2.25s  10s ease-in-out forwards; }

.eyemedbanner_copyblock {
  -webkit-animation: slideUpTop 0.25s  12s ease-out forwards;
          animation: slideUpTop 0.25s  12s ease-out forwards; }

.eyemedbanner_checkmark {
  -webkit-animation: slideInCheck 1.5s  13.5s ease-out forwards;
          animation: slideInCheck 1.5s  13.5s ease-out forwards; }
