.eyemedbanner_inner, .eyemedbanner_layeredbg, .eyemedbanner_yesno {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.eyemedbanner_link img {
  border: 0; }

.eyemedbanner {
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: #f2ece7; }

.eyemedbanner_colorbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #dd36dd;
  padding-top: 65px;
  overflow: hidden;
  -webkit-transform: translate(78%, -75%);
      -ms-transform: translate(78%, -75%);
          transform: translate(78%, -75%);
  opacity: .999; }

.eyemedbanner_colorbox_copy {
  opacity: 0;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px); }

.eyemedbanner_copyblock {
  padding-left: 0; }

.eyemedbanner_copy {
  margin-top: 20px;
  padding-left: 25px;
  position: relative; }

.eyemedbanner_copy_text {
  position: absolute;
  top: 0; }

.eyemedbanner_copy_text-2 {
  opacity: 0; }

.eyemedbanner_inner {
  z-index: 1; }

.eyemedbanner_layeredbg {
  z-index: 0; }

.eyemedbanner_yesno-no,
.eyemedbanner_yesno-yes {
  opacity: 0; }

.eyemedbanner_slider {
  width: 100%;
  position: relative; }

.eyemedbanner_slider_slide {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(300px);
      -ms-transform: translateY(300px);
          transform: translateY(300px); }

.eyemedbanner_checkmark {
  position: absolute;
  top: -25px;
  left: 35px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.eyemedbanner_logo {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5; }

.eyemedbanner_logo svg {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  width: 70%;
  height: 33px; }

.eyemedbanner_bottomcopy {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10; }

.eyemedbanner_bottomcopy img {
  display: block;
  margin: 0 auto 5px; }

.eyemedbanner_link {
  position: relative;
  z-index: 2;
  width: 300px;
  height: 250px; }

/* KEYFRAMES */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes slideDownTopRight {
  from {
    -webkit-transform: translate(78%, -75%);
            transform: translate(78%, -75%); }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes slideDownTopRight {
  from {
    -webkit-transform: translate(78%, -75%);
            transform: translate(78%, -75%); }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes slideUpTopRight {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(78%, -75%);
            transform: translate(78%, -75%); } }

@keyframes slideUpTopRight {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(78%, -75%);
            transform: translate(78%, -75%); } }

@-webkit-keyframes slideDownTop {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1; } }

@keyframes slideDownTop {
  from {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1; } }

@-webkit-keyframes slideUpTop {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; } }

@keyframes slideUpTop {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; } }

@-webkit-keyframes slideLeftToRight {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px); }
  10% {
    -webkit-transform: translateY(-110px);
            transform: translateY(-110px); }
  90% {
    -webkit-transform: translateY(-110px);
            transform: translateY(-110px); }
  100% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px); } }

@keyframes slideLeftToRight {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px); }
  10% {
    -webkit-transform: translateY(-110px);
            transform: translateY(-110px); }
  90% {
    -webkit-transform: translateY(-110px);
            transform: translateY(-110px); }
  100% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px); } }

@-webkit-keyframes slideInCheck {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideInCheck {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

/* ANIMATIONS */
.eyemedbanner_yesno-no {
  -webkit-animation: fadeIn 0.25s 1.25s ease-out forwards;
          animation: fadeIn 0.25s 1.25s ease-out forwards; }

.eyemedbanner_yesno-yes {
  -webkit-animation: fadeIn 0.25s  2.5s linear forwards, fadeOut 0.1s 5s ease-out forwards;
          animation: fadeIn 0.25s  2.5s linear forwards, fadeOut 0.1s 5s ease-out forwards; }

.eyemedbanner_colorbox {
  -webkit-animation: slideDownTopRight 1s  4s ease-out forwards, slideUpTopRight 0.5s 13s ease-out forwards;
          animation: slideDownTopRight 1s  4s ease-out forwards, slideUpTopRight 0.5s 13s ease-out forwards; }

.eyemedbanner_slider_map_bg {
  -webkit-animation: slideLeftToRight 7.5s  5s ease-in-out forwards;
          animation: slideLeftToRight 7.5s  5s ease-in-out forwards; }

.eyemedbanner_colorbox_copy-line1 {
  -webkit-animation: slideDownTop 1s  5.75s ease-out forwards;
          animation: slideDownTop 1s  5.75s ease-out forwards; }

.eyemedbanner_copy_text-1 {
  -webkit-animation: fadeOut 0.1s 5s ease-in forwards;
          animation: fadeOut 0.1s 5s ease-in forwards; }

.eyemedbanner_copy_text-2 {
  -webkit-animation: fadeIn 0.1s 5s ease-out forwards;
          animation: fadeIn 0.1s 5s ease-out forwards; }

.eyemedbanner_copyblock {
  -webkit-animation: slideUpTop 0.25s  12s ease-out forwards;
          animation: slideUpTop 0.25s  12s ease-out forwards; }

.eyemedbanner_checkmark {
  -webkit-animation: slideInCheck 1.5s  13.5s ease-out forwards;
          animation: slideInCheck 1.5s  13.5s ease-out forwards; }
