.eyemedbanner_inner, .eyemedbanner_layeredbg, .eyemedbanner_yesno {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.eyemedbanner {
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: #f2ece7; }

.eyemedbanner_colorbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #9DCD50;
  padding-top: 65px;
  overflow: hidden;
  transform: translate(78%, -75%); }

.eyemedbanner_colorbox_copy {
  opacity: 0;
  transform: translateY(-50px); }

.eyemedbanner_copyblock {
  padding-left: 25px; }

.eyemedbanner_copy {
  margin-top: 20px;
  padding-left: 25px;
  position: relative;
  z-index: 0; }

.eyemedbanner_copy_text {
  position: absolute;
  top: 0; }

.eyemedbanner_copy_text-2 {
  opacity: 0; }

.eyemedbanner_inner {
  z-index: 1; }

.eyemedbanner_layeredbg {
  z-index: 0; }

.eyemedbanner_yesno-no,
.eyemedbanner_yesno-yes {
  opacity: 0; }

.eyemedbanner_slider {
  width: 100%;
  position: relative; }

.eyemedbanner_slider_slide {
  position: absolute;
  top: 0;
  left: -178px;
  transform: translateX(656px); }

.eyemedbanner_checkmark {
  position: absolute;
  top: -25px;
  left: 35px;
  transform: translateY(-100%); }

.eyemedbanner_logo {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5; }

.eyemedbanner_logo svg {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  width: 70%;
  height: auto; }

.eyemedbanner_bottomcopy {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10; }

.eyemedbanner_bottomcopy img {
  display: block;
  margin: 0 auto 5px; }

.eyemedbanner_link {
  position: relative;
  z-index: 2;
  width: 300px;
  height: 250px; }

/* KEYFRAMES */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes slideDownTopRight {
  from {
    transform: translate(78%, -75%); }
  to {
    transform: translate(0, 0); } }

@keyframes slideUpTopRight {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(78%, -75%); } }

@keyframes slideDownTopRight {
  from {
    transform: translate(78%, -75%); }
  to {
    transform: translate(0, 0); } }

@keyframes slideDownTop {
  from {
    transform: translateY(-50px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideUpTop {
  form {
    transform: translateY(0);
    opacity: 1; }
  to {
    transform: translateY(-50px);
    opacity: 0; } }

@keyframes slideLeftToRight {
  0% {
    transform: translateX(656px); }
  40% {
    transform: translateX(calc(150px + 89px)); }
  60% {
    transform: translateX(calc(150px + 89px)); }
  100% {
    transform: translateX(0); } }

@keyframes slideInCheck {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

/* ANIMATIONS */
.eyemedbanner_yesno-no {
  animation: fadeIn 1.5s 1s ease-out forwards; }

.eyemedbanner_yesno-yes {
  animation: fadeIn 1s  2.5s ease-out forwards, fadeOut 0.1s 5s ease-out forwards; }

.eyemedbanner_colorbox {
  animation: slideDownTopRight 0.5s  4s ease-out forwards, slideUpTopRight 0.5s 13s ease-out forwards; }

.eyemedbanner_colorbox_copy-line2 {
  animation: slideDownTop 0.5s  5s ease-out forwards; }

.eyemedbanner_colorbox_copy-line1 {
  animation: slideDownTop 0.5s  5.25s ease-out forwards; }

.eyemedbanner_copy_text-1 {
  animation: fadeOut 0.1s 5s ease-out forwards; }

.eyemedbanner_copy_text-2 {
  animation: fadeIn 0.1s 5s ease-out forwards; }

.eyemedbanner_slider_slide-1 {
  animation: slideLeftToRight 2.25s  5.5s ease-in-out forwards; }

.eyemedbanner_slider_slide-2 {
  animation: slideLeftToRight 2.25s  7s ease-in-out forwards; }

.eyemedbanner_slider_slide-3 {
  animation: slideLeftToRight 2.25s  8.5s ease-in-out forwards; }

.eyemedbanner_slider_slide-4 {
  animation: slideLeftToRight 2.25s  10s ease-in-out forwards; }

.eyemedbanner_copyblock {
  animation: slideUpTop 0.25s  12s ease-out forwards; }

.eyemedbanner_checkmark {
  animation: slideInCheck 1.5s  13.5s ease-out forwards; }
