// npm install -g node-sass 
// node-sass -w -o ./css/ main.scss

$width :729px;
$height : 90px;
$primarycolor : #dd36dd;
$mattecolor : #f2ece7;
$topmargin :  10px;
$leftmargin : 110px;
$slidewidth: 178px;
$logoBoxXoffset : -638px;
$logoBoxYoffset : 0;

%overlay {position: absolute; top: 0; right:  0; bottom:  0; left:  0;}
.eyemedbanner { width: $width; height: $height; position: relative; overflow:  hidden; background-color: $mattecolor; }
.eyemedbanner_link img {border: 0;}
.eyemedbanner_colorbox { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; background-color: $primarycolor; padding-top: $topmargin; overflow: hidden;   transform: translate($logoBoxXoffset, $logoBoxYoffset); opacity: .999; }
.eyemedbanner_colorbox_copy { opacity: 0;   transform:  translateY(-50px); }
.eyemedbanner_copyblock { padding-left: $leftmargin; }
.eyemedbanner_copy { padding-left: $leftmargin; position: relative; z-index: 0;}
.eyemedbanner_copy_text{  position: absolute; top:15px; }
.eyemedbanner_copy_text-1 {left: 125px;}
.eyemedbanner_copy_text-2 {opacity: 0; top: 15px; left: 130px;}
.eyemedbanner_inner { @extend %overlay; z-index: 1; }
.eyemedbanner_layeredbg { @extend %overlay; z-index: 0; }
.eyemedbanner_yesno { @extend %overlay; }
.eyemedbanner_yesno-no,
.eyemedbanner_yesno-yes { opacity: 0; }
.eyemedbanner_slider { width: 100%; position: relative; }
.eyemedbanner_slider_slide { position: absolute; top: -67px; right:103px; transform: translateY( -100px );}
.eyemedbanner_checkmark { position: absolute; top: 0; right:  190px;transform: translateY( -100% ); }
.eyemedbanner_logo { width: 90px; height: 90px; position: absolute; left: 0; top: 0; z-index: 5;}
.eyemedbanner_logo svg { display: block; margin: 0 auto; padding-top: 25px; width: 70%; height: 40px;}
.eyemedbanner_bottomcopy {position: absolute; top: 25%; right: 20px; z-index: 10;}
.eyemedbanner_bottomcopy img { display: block; margin:  0 auto 5px;   }
.eyemedbanner_link { position: relative; z-index: 2; width: $width; height: $height;}
/* KEYFRAMES */

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes slideDownTopRight {
	from {  transform:  translateX($logoBoxXoffset); }
	to {  transform:  translateX( 0 ); }
}
@keyframes slideUpTopRight {
	from {  transform:  translateX( 0 ); }
	to {  transform:  translateX($logoBoxXoffset); }
}

@keyframes slideDownTop{
	from {  transform:  translateY(-50px); opacity: 0; }
	to {  transform:  translateY(10px); opacity: 1; }
}
@keyframes slideUpTop{
	from {  transform:  translateY(0); opacity: 1; }
	to {  transform:  translateY(-50px); opacity: 0; }
}
@keyframes slideTopToBottom{
	0% {  transform:  translateY(100px); }
	10% {  transform:  translateY( 0px ); }
	90% {  transform:  translateY( 0px); }
	100% {  transform:  translateY(100px); }
}
@keyframes slideInCheck{
	from {  transform:  translateY(-100%); }
	to {  transform:  translateY(0); }
}

/* ANIMATIONS */
.eyemedbanner_yesno-no { animation: fadeIn 0.25s 1.25s ease-out forwards; }
.eyemedbanner_yesno-yes { animation: fadeIn 0.25s  2.5s linear forwards, fadeOut 0.1s 5s ease-out forwards; }
.eyemedbanner_colorbox { animation: slideDownTopRight 1s  4s ease-out forwards, slideUpTopRight 0.5s 13s ease-out forwards; }
.eyemedbanner_colorbox_copy-line2 {  animation: slideDownTop 1s  5.75s ease-out forwards; }
.eyemedbanner_colorbox_copy-line1 {  animation: slideDownTop 1s  5.75s ease-out forwards; }
.eyemedbanner_copy_text-1 { animation: fadeOut 0.1s 5s ease-out forwards; }
.eyemedbanner_copy_text-2 { animation: fadeIn 0.1s 5s ease-out forwards; }
.eyemedbanner_slider_map_bg { animation: slideTopToBottom 7.5s  5s ease-in-out forwards; }
.eyemedbanner_copyblock { animation: slideUpTop 0.25s  12s ease-out forwards; }
.eyemedbanner_checkmark { animation: slideInCheck 1.5s  13.5s ease-out forwards; }







